---
import Layout from '../layouts/Layout.astro';

import Profile from '../components/Profile.astro';
import Contact from '../components/Contact.astro';

import ContentLink from '../components/ContentLink.astro';
import ContentCode from '../components/ContentAbout.astro';
import ContentProjects from '../components/ContentProjects.astro';
import ContentCertification from '../components/ContentCertification.astro';
import ContentSkill from '../components/ContentSkill.astro';
import ContentJobExperience from '../components/ContentJobExperience.astro';
import ContentEducation from '../components/ContentEducation.astro';
import ContentPublication from '../components/ContentPublication.astro';
---

<Layout>

    <!-- Start: Main Wrapper -->
    <main class="flex flex-col md:flex-row w-full max-w-full md:max-w-7xl border border-gray-600 rounded-2xl overflow-hidden shadow-2xl relative bg-black mb-12 md:mb-4">

        <!-- Start: Left / upper card -->
        <div class="p-8 md:p-6 flex flex-col justify-between w-full md:w-2/5 border-b md:border-b-0 md:border-r border-gray-600">

            <Profile />

            <Contact />

        </div>
        <!-- End: Left / upper card -->

        <!-- Start: Right / lower card (yes 4/5 instead of 3/5) -->
        <div class="w-full md:w-4/5 p-0">

            <!-- Start: Inner wrapper -->
            <div class="min-h-full h-[90vh] flex flex-col overflow-y-scroll">

                <!-- Use hidden radio buttons to control the tabs -->
                <div class="tab-controls">

                    <input
                        type="radio"
                        id="tab1"
                        name="tabs"
                        class="tab-radio"
                        checked
                    />

                    <!-- <input
                        type="radio"
                        id="tab2"
                        name="tabs"
                        class="tab-radio"
                    /> -->

                    <input
                        type="radio"
                        id="tab3"
                        name="tabs"
                        class="tab-radio"
                    />

                    <input
                        type="radio"
                        id="tab4"
                        name="tabs"
                        class="tab-radio"
                    />

                    <input
                        type="radio"
                        id="tab5"
                        name="tabs"
                        class="tab-radio"
                    />

                    <input
                        type="radio"
                        id="tab6"
                        name="tabs"
                        class="tab-radio"
                    />

                    <input
                        type="radio"
                        id="tab7"
                        name="tabs"
                        class="tab-radio"
                    />

                    <!-- Start: Tab bar -->
                    <div class="flex overflow-x-auto scrollbar-hide bg-black border-b border-gray-600 sticky top-0 z-10" id="tabBar">

                        <ContentLink
                            contentId="tab1"
                            contentName="about.ts"
                        />

                        <!-- <ContentLink
                            contentId="tab2"
                            contentName="projects.md"
                        /> -->

                        <ContentLink
                            contentId="tab3"
                            contentName="certifications.md"
                        />

                        <ContentLink
                            contentId="tab4"
                            contentName="skills.md"
                        />

                        <ContentLink
                            contentId="tab5"
                            contentName="jobExperience.md"
                        />

                        <ContentLink
                            contentId="tab6"
                            contentName="education.md"
                        />

                        <ContentLink
                            contentId="tab7"
                            contentName="publication.md"
                        />

                    </div>
                    <!-- End: Tab bar -->

                    <!-- Start: Tab content -->
                    <div class="p-6 flex-grow overflow-y-auto bg-black">

                        <!-- Start: About content -->
                        <div id="content1" class="tab-content">
                            <ContentCode />
                        </div>
                        <!-- End: About content -->

                        <!-- Start: Projects content -->
                        <!-- <div id="content2" class="tab-content">
                            <ContentProjects />
                        </div> -->
                        <!-- End: Projects content -->

                        <!-- Start: Certifications content -->
                        <div id="content3" class="tab-content">
                            <ContentCertification />
                        </div>
                        <!-- End: Certifications content -->

                        <!-- Start: Skills content -->
                        <div id="content4" class="tab-content">
                            <ContentSkill />
                        </div>
                        <!-- End: Skills content -->

                        <!-- Start: JobExperiences content -->
                        <div id="content5" class="tab-content">
                            <ContentJobExperience />
                        </div>
                        <!-- End: JobExperiences content -->

                        <!-- Start: Education content -->
                        <div id="content6" class="tab-content">
                            <ContentEducation />
                        </div>
                        <!-- End: Education content -->

                        <!-- Start: Publication content -->
                        <div id="content7" class="tab-content">
                            <ContentPublication />
                        </div>
                        <!-- End: Publication content -->

                    </div>
                    <!-- End: Tab content -->

                </div>

            </div>
            <!-- End: Inner wrapper -->

        </div>
        <!-- End: Right / lower card -->

    </main>
    <!-- End: Main Wrapper -->

    <!-- Credits -->
    <div class="fixed md:absolute bottom-0 left-0 right-0 w-full text-center bg-black py-2">
        Built with <a href="https://astro.build" title="Astro" target="_blank" class="text-primary hover:underline">Astro</a> by <a href="https://devidev.io/" target="_blank" title="devi|dev|io" class="text-primary hover:underline">devi|dev|io</a>
    </div>

</Layout>

<style is:global>
    /* Hide the radio buttons */
    .tab-radio {
        @apply absolute opacity-0 pointer-events-none;
    }

    /* Default state - hide all tab content */
    .tab-content {
        @apply hidden opacity-0;
        transition: opacity 0.3s ease-in-out;
    }

    /* Default state for tab links */
    .tab-link {
        @apply border-b-2 border-transparent bg-transparent;
        transition: background-color 0.2s ease-in-out;
    }

    /* When tab1 is checked, show content1 and highlight its tab */
    #tab1:checked ~ * #content1 {
        @apply block opacity-100;
    }

    #tab1:checked ~ .flex .tab-link:nth-child(1) {
        @apply border-b-2 border-b-primary;
    }

    /* When tab2 is checked, show content2 and highlight its tab */
    /* #tab2:checked ~ * #content2 {
        @apply block opacity-100;
    }

    #tab2:checked ~ .flex .tab-link:nth-child(2) {
        @apply border-b-2 border-b-primary;
    } */

    /* When tab3 is checked, show content3 and highlight its tab */
    #tab3:checked ~ * #content3 {
        @apply block opacity-100;
    }

    #tab3:checked ~ .flex .tab-link:nth-child(2) {
        @apply border-b-2 border-b-primary;
    }

    /* When tab4 is checked, show content4 and highlight its tab */
    #tab4:checked ~ * #content4 {
        @apply block opacity-100;
    }

    #tab4:checked ~ .flex .tab-link:nth-child(3) {
        @apply border-b-2 border-b-primary;
    }

    /* When tab5 is checked, show content5 and highlight its tab */
    #tab5:checked ~ * #content5 {
        @apply block opacity-100;
    }

    #tab5:checked ~ .flex .tab-link:nth-child(4) {
        @apply border-b-2 border-b-primary;
    }

    /* When tab6 is checked, show content6 and highlight its tab */
    #tab6:checked ~ * #content6 {
        @apply block opacity-100;
    }

    #tab6:checked ~ .flex .tab-link:nth-child(5) {
        @apply border-b-2 border-b-primary;
    }

    /* When tab7 is checked, show content7 and highlight its tab */
    #tab7:checked ~ * #content7 {
        @apply block opacity-100;
    }

    #tab7:checked ~ .flex .tab-link:nth-child(6) {
        @apply border-b-2 border-b-primary;
    }


    /* Hide scrollbar for tab bar */
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }

    .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const tabInputs = document.querySelectorAll<HTMLInputElement>('.tab-radio');
    const tabBar = document.getElementById('tabBar');
    
    // 為每個標籤輸入添加變更事件監聽器
    tabInputs.forEach((input) => {
        input.addEventListener('change', () => {
        if (input.checked) {
            // 獲取相應的標籤鏈接
            const tabId = input.id;
            const tabLink = document.querySelector(`label[for="${tabId}"]`) as HTMLElement;
            
            // 獲取標籤名稱
            const tabLabel = document.querySelector(`label[for="${tabId}"] h2`)?.textContent || '';
            
            // 發送虛擬頁面瀏覽事件
            // @ts-ignore
            gtag('config', 'G-581JBKMSX0', {
            'page_title': `Yasmine Cheng - ${tabLabel}`,
            'page_path': `/${tabLabel.replace('.', '_')}`
            });
            
            if (tabLink && tabBar) {
            // 計算滾動位置，使當前標籤居中
            const tabBarWidth = tabBar.offsetWidth;
            const tabLinkLeft = tabLink.offsetLeft;
            const tabLinkWidth = tabLink.offsetWidth;
            
            // 滾動到標籤位置
            tabBar.scrollTo({
                left: tabLinkLeft - (tabBarWidth / 2) + (tabLinkWidth / 2),
                behavior: 'smooth'
            });
            }
        }
        });
    });
    
    // 初始滾動到當前選中的標籤
    const checkedInput = document.querySelector<HTMLInputElement>('.tab-radio:checked');
    if (checkedInput) {
        const event = new Event('change');
        checkedInput.dispatchEvent(event);
    }
    });
</script>